VITE_FIREBASE_API_KEY=AIzaSyBmn0eut8xX0POqBcBAOz8P5mriT7xl4vo
VITE_FIREBASE_AUTH_DOMAIN=school-game-basic.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=school-game-basic
VITE_FIREBASE_STORAGE_BUCKET=school-game-basic.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1069966087107
VITE_FIREBASE_APP_ID=1:1069966087107:web:e766d3826dd5cc78f7e376
VITE_FIREBASE_MEASUREMENT_ID=G-BD83RQ7ZG2
VITE_ENABLE_FIRESTORE=false
VITE_BLOCKED_COUNTRY_CODES=RU
