@use "./css_constants/constans" as constans;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main_container {
    @include constans.main_container;
}

.topBlock {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    h2 {
        margin-top: 0;
    }
    #createForm {
        label {
            color: #ffffff;
            font-size: 16px;
        }
        .submitButton {
            width: 40%;
            height: 40px;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 2px;
        }
    }
}
