@use "./css_constants/constans" as constans;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main_container {
    @include constans.main_container;
}

.topBlock {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    .creationBlock {
        width: 620px;
    }
    h2 {
        margin-top: 0;
    }
    #createForm {
        label {
            color: #ffffff;
            font-size: 16px;
        }
        .submitButton {
            width: 40%;
            height: 40px;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 2px;
        }
    }
}

.taskGrid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    .taskBlockName {
        text-align: center;
    }
    .taskList {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5px;
        padding: 5px;
        border-radius: 10px;
        background-color: #ffffff;
        .topBlock {
            margin-top: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            grid-gap: inherit;

            .nameBlock {
                color: #242424;
                max-width: 70%;
                overflow-y: hidden;
            }
        }
        .descriptionBlock {
            margin-top: 5px;
            color: #242424;
        }
        .taskBar {
            padding: 5px;
            border: 1px solid #8f8383;
            border-radius: 5px;
            &:hover {
                -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
                box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
                cursor: pointer;
            }
        }
    }
}

.emtyListBlock {
    p {
        color: #242424;
    }
}
